<template>
  <q-page class="q-pa-lg">
    <h3 class="q-mt-none">Help</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis molestiae laudantium consequuntur distinctio reiciendis provident alias, dolore cum laborum quam, placeat veniam quaerat, maxime saepe tenetur corporis! Aut, quia enim.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis molestiae laudantium consequuntur distinctio reiciendis provident alias, dolore cum laborum quam, placeat veniam quaerat, maxime saepe tenetur corporis! Aut, quia enim.</p>
  </q-page>
</template>

<script>
export default {
}
</script>
