<template>
  <q-page class="bg-grey-3 column q-px-md">
    <h3>Let's Scratch and Win</h3>

    <div class="q-pa-md row items-start q-gutter-md">
      <q-card class="my-card bg-blue col-12" flat bordered>
        <q-card-section horizontal>
  
          <q-card-section class="col-6">
            <div>
              <div class="text-h6 text-white">Scratch & Win</div>
              <div class="text-subtitle2 text-white">Play and win the prize</div>
            </div>
  
            <q-card-actions class="q-pl-none">
              <q-btn 
                color="white"
                text-color="black"
                label="Play Now"/>
            </q-card-actions>
  
          </q-card-section>
  
          <q-img
            class="col-6"
            style="height: 250px;"
            src="https://cdn.quasar.dev/img/parallax2.jpg"
          />
        </q-card-section>
  
        <div class="absolute-bottom bg-white q-py-md text-subtitle2 text-center">
          1 Scratch = 50 Poin
        </div>
      </q-card>

    </div>
    
  </q-page>
</template>

<script>
export default {
}
</script>
